{% load vite_tags %}
{% vite_css_vendors as css_vendors %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if debug %}
            <!-- Development: Load Vite Dev Server scripts -->
            <script type="module" src="http://localhost:4200/@vite/client"></script>
            <script type="module" src="http://localhost:4200/src/main.js"></script>
            <link rel="stylesheet" href="http://localhost:4200/src/style.css">
        {% else %}
            <!-- Production: Load built assets from manifest -->
            <script type="module" src="{% vite_asset 'src/main.js' %}"></script>
            <link rel="stylesheet" href="{% vite_asset 'src/style.css' %}">
            {% for style in css_vendors %}
                <link rel="stylesheet" href="{{style}}">
            {% endfor %}
        {% endif %}
    </head>
    <body class="bg-black text-base text-primary-text">

        <div x-data="layout" id="page-layout" class="relative">

            <div x-show="dropmask" @click="closeLeftSide" x-transition.opacity class="layout-mask absolute z-10 inset-0 h-svh bg-[#f9f9f9]/50 lg:hidden"></div>

            {% include 'partials/header.html' %}

            <div 
                class="main-container 
                {% if '/account/' not in request.path %} 
                    grid grid-cols-1 lg:grid-cols-[var(--left-side-w)_1fr] lg:gap-2
                {% endif %}"
            >

                <aside class="left-side
                    {% if '/account/' not in request.path %}
                        max-lg:h-svh max-lg:w-(--left-side-w) max-lg:absolute max-lg:top-0 max-lg:-left-(--left-side-w) max-lg:z-20 max-lg:bg-primary-bg
                    {% else %}
                        min-lg:hidden
                        h-svh w-(--left-side-w) absolute top-0 -left-(--left-side-w) z-20 bg-primary-bg
                    {% endif %}"
                    aria-label="Primary sidebar"
                >
                    <div class="top-box bg-primary-bg p-4 space-y-4">
                        <div class="space-y-4 lg:hidden">
                            <div class="flex justify-end">
                                <svg @click="closeLeftSide" class="icon-btn" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                                </svg>
                            </div>
                            <div class="input-text w-full max-w-150">
                                <div class="input-text__icon">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                                    </svg>              
                                </div>
                                <input type="text" name="search" id="search" placeholder="search...">
                            </div>
                        </div>
                        <p class="text-base-1 font-bold">
                            Our Community is a community of 2,000,000 amazing developers
                        </p>
                        <p>
                            We're a place where coders share, stay up-to-date and grow their careers.
                        </p>
                        <p class="flex flex-col gap-2 text-center">
                            <a class="btn btn--blue" href="{% url 'register' %}">create account</a>
                            <a class="btn btn--tertiary" href="{% url 'login' %}">login</a>
                        </p>
                    </div>
                </aside>

                <main id="right-side-col">
                    {% block content %}
                    {% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>