{% extends "account.html" %}

{% block account %}
    <section class="bg-primary-bg p-8 md:round-xl">

        <h1 class="text-base-1 capitalize font-bold pb-4">change your password</h1>

        <form method="post" novalidate>

            <div class="form-group">
                <label for="{{form.old_password.id_for_label}}">{{form.old_password.label}}</label>
                {{form.old_password}}
                {{form.old_password.errors}}
            </div>

            <div class="form-group">
                <label for="{{form.new_password1.id_for_label}}">{{form.new_password1.label}}</label>
                {{form.new_password1}}
                {{form.new_password1.errors}}
            </div>

            <div class="form-group">
                <label for="{{form.new_password2.id_for_label}}">{{form.new_password2.label}}</label>
                {{form.new_password2}}
                {{form.new_password2.errors}}
            </div>

            {% csrf_token %}

            <div class="form-actions">
                <button class="btn btn--blue" type="submit">change</button>
            </div>
        </form>
    </section>

{% endblock %}