{% extends "account.html" %}

{% block title %}my account{% endblock %}

{% block page %}
<section class="bg-primary-bg p-8 max-w-xl mx-auto md:round-xl">

    <h1 class="text-base-1 capitalize font-bold pb-4">send password reset mail</h1>

    <form method="post" novalidate>

        <div class="form-group">
            <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
            {{form.email}}
            {{form.email.errors}}
        </div>

        {% csrf_token %}

        <div class="form-actions">
            <button class="btn btn--blue" type="submit">send mail</button>
        </div>
    </form>
</section>
{% endblock %}