{% extends "base.html" %}

{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    {% has_liked_post request.user post.id as post_like_status %}

    <div class="lg:hidden">
        {% include 'blog/post/includes/left-side.html' %}
    </div>

    <main class="main-container md:grid md:grid-cols-[max-content_1fr] md:gap-1 max-w-3xl mx-auto">

        <section class="sticky top-[calc(100%-4rem)] md:relative md:top-0 left-0">
            <ul class="md:sticky md:top-2 md:left-0 flex md:flex-col justify-center bg-black/80 md:bg-primary-bg max-md:p-2 rounded-xl">
                <li x-data="like_content('/blog/post_like/')" data-id="{{post.id}}" data-status="{{post_like_status}}" class="rounded-xl cursor-pointer hover:bg-hover-bg">
                    <div x-cloak x-show="likeStatus == 'notauthed'" @click="like('notauthed')" class="p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" role="img" aria-hidden="true" class="crayons-icon">
                            <g clip-path="url(#clip0_988_3276)">
                                <path d="M19 14V17H22V19H18.999L19 22H17L16.999 19H14V17H17V14H19ZM20.243 4.75698C22.505 7.02498 22.583 10.637 20.479 12.992L19.059 11.574C20.39 10.05 20.32 7.65998 18.827 6.16998C17.324 4.67098 14.907 4.60698 13.337 6.01698L12.002 7.21498L10.666 6.01798C9.09103 4.60598 6.67503 4.66798 5.17203 6.17198C3.68203 7.66198 3.60703 10.047 4.98003 11.623L13.412 20.069L12 21.485L3.52003 12.993C1.41603 10.637 1.49503 7.01898 3.75603 4.75698C6.02103 2.49298 9.64403 2.41698 12 4.52898C14.349 2.41998 17.979 2.48998 20.242 4.75698H20.243Z" class="fill-secondary-text"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_988_3276">
                                    <rect width="24" height="24" fill="black"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div x-cloak x-show="likeStatus == 'empty'" @click="like('like')" class="p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" role="img" aria-hidden="true" class="crayons-icon">
                            <g clip-path="url(#clip0_988_3276)">
                                <path d="M19 14V17H22V19H18.999L19 22H17L16.999 19H14V17H17V14H19ZM20.243 4.75698C22.505 7.02498 22.583 10.637 20.479 12.992L19.059 11.574C20.39 10.05 20.32 7.65998 18.827 6.16998C17.324 4.67098 14.907 4.60698 13.337 6.01698L12.002 7.21498L10.666 6.01798C9.09103 4.60598 6.67503 4.66798 5.17203 6.17198C3.68203 7.66198 3.60703 10.047 4.98003 11.623L13.412 20.069L12 21.485L3.52003 12.993C1.41603 10.637 1.49503 7.01898 3.75603 4.75698C6.02103 2.49298 9.64403 2.41698 12 4.52898C14.349 2.41998 17.979 2.48998 20.242 4.75698H20.243Z" class="fill-secondary-text"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_988_3276">
                                    <rect width="24" height="24" fill="black"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div x-cloak x-show="likeStatus == 'liked'" @click="like('unlike')" class="p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="32" viewBox="0 0 32 32" width="32">
                            <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="15.908" x2="15.908" y1="3.199" y2="28.854">
                                <stop offset="0" stop-color="#fd556a"/>
                                <stop offset="1" stop-color="#aa172a"/>
                            </linearGradient>
                            <linearGradient id="b" gradientUnits="userSpaceOnUse" x1="16.443" x2="16.443" y1="4.828" y2="26.958">
                                <stop offset="0" stop-color="#ffdc5d"/>
                                <stop offset="1" stop-color="#ffcc14"/>
                            </linearGradient>
                            <path d="M30.216 11.094a7.894 7.894 0 0 0-7.894-7.895 7.88 7.88 0 0 0-6.414 3.303A7.88 7.88 0 0 0 9.494 3.2 7.894 7.894 0 0 0 1.6 11.094c0 .617.078 1.216.213 1.792 1.096 6.81 8.668 13.996 14.095 15.968 5.426-1.972 13-9.157 14.094-15.967a7.796 7.796 0 0 0 .214-1.793z" fill="url(#a)"/>
                            <path d="m28.986 20.743-3.06-1.132-1.132-3.06a.8.8 0 0 0-1.501 0L22.16 19.61l-3.06 1.133a.8.8 0 0 0 0 1.5l3.06 1.133 1.133 3.06a.8.8 0 0 0 1.5 0l1.133-3.06 3.06-1.133a.8.8 0 0 0 0-1.5zm-18.4-12.8-1.892-.7-.7-1.892a.8.8 0 0 0-1.501 0l-.701 1.892-1.891.7a.8.8 0 0 0 0 1.5l1.892.7.7 1.892a.8.8 0 0 0 1.5 0l.7-1.892 1.893-.7a.8.8 0 0 0 0-1.5z" fill="url(#b)"/>
                        </svg>
                    </div>
                </li>
            </ul>
        </section>

        <div class="-mt-[4rem] md:m-0">
            <section class="bg-primary-bg md:rounded-xl">
        
                <div class="px-4 lg:px-16 py-8 pb-0">
        
                    <div class="mb-5">
                        {% include "blog/post/includes/post-author.html" %}
                    </div>
                
                    <h1 class="text-large mb-2">{{ post.title }}</h1>
                
                    <div class="-ml-2">
                        {% for tag in post.tags.all %}
                            <a href="{% url 'blog:get_posts_by_tag' tag.slug %}" class="link">#{{ tag.name }}</a>
                        {% endfor %}
                    </div>
            
                </div>
            
                <div class="post-body px-4 lg:px-16 py-8">
                    {{ post.body|markdown }}
                </div>
            
                <div class="px-2 lg:px-16 py-8 border-t border-(--color-primary-border)">
                    {% with comments.count as total_comments %}
                        <h2 class="capitalize text-medium mb-6">
                            comment{{ total_comments|pluralize }} ({{ total_comments }})
                        </h2>
                    {% endwith %}
                
                    <ul class="space-y-6">
        
                        <li class="grid grid-cols-[max-content_1fr] gap-2">
                            <div class="w-8 h-8 bg-white rounded-full"></div>
                            <form action="{% url 'blog:comment_on_post' post.id %}" method="post" x-data="{comment: ''}">
                                <div>
                                    <textarea 
                                        name="body" 
                                        id="body" 
                                        class="w-full bg-black p-2 border border-tertiary-text rounded-md placeholder:text-tertiary-text"
                                        placeholder="Add to the discussion"
                                        x-model="comment"
                                    ></textarea>
                                </div>
                                {% csrf_token %}
                                <div class="form-actions">
                                    <input type="submit" value="comment" class="btn btn--blue btn--small" :disabled="comment.length == 0">
                                </div>
                            </form>
                        </li>
        
                        {% for comment in comments %}

                            {% has_liked_comment request.user comment.id as comment_like_status %}

                            <li class="grid grid-cols-[max-content_1fr] gap-2">
                                <div class="w-8 h-8 bg-white rounded-full"></div>
                                <div class="w-full p-1 shadow-[0_0_0_1px_var(--color-tertiary-bg)] rounded-md">
                                    <p class="pt-2 px-3">
                                        <span class="font-medium capitalize">{{ comment.author }}</span>
                                        <span>•</span>
                                        <span class="text-small">{{ comment.created|date:'M' }}</span>
                                    </p>
                                    <p class="text-base-1 mt-2 mb-4 px-3">{{comment.body}}</p>
                                    <div class="flex">
                                        <div x-data="like_content('/blog/comment_like/')" data-id="{{comment.id}}" data-status="{{comment_like_status}}" class="rounded-xl cursor-pointer hover:bg-hover-bg">
                                            <div x-cloak x-show="likeStatus == 'notauthed'" @click="like('notauthed')" class="p-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" role="img" aria-hidden="true" class="crayons-icon">
                                                    <g clip-path="url(#clip0_988_3276)">
                                                        <path d="M19 14V17H22V19H18.999L19 22H17L16.999 19H14V17H17V14H19ZM20.243 4.75698C22.505 7.02498 22.583 10.637 20.479 12.992L19.059 11.574C20.39 10.05 20.32 7.65998 18.827 6.16998C17.324 4.67098 14.907 4.60698 13.337 6.01698L12.002 7.21498L10.666 6.01798C9.09103 4.60598 6.67503 4.66798 5.17203 6.17198C3.68203 7.66198 3.60703 10.047 4.98003 11.623L13.412 20.069L12 21.485L3.52003 12.993C1.41603 10.637 1.49503 7.01898 3.75603 4.75698C6.02103 2.49298 9.64403 2.41698 12 4.52898C14.349 2.41998 17.979 2.48998 20.242 4.75698H20.243Z" class="fill-secondary-text"></path>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_988_3276">
                                                            <rect width="24" height="24" fill="black"></rect>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                            <div x-cloak x-show="likeStatus == 'empty'" @click="like('like')" class="p-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" role="img" aria-hidden="true" class="crayons-icon">
                                                    <g clip-path="url(#clip0_988_3276)">
                                                        <path d="M19 14V17H22V19H18.999L19 22H17L16.999 19H14V17H17V14H19ZM20.243 4.75698C22.505 7.02498 22.583 10.637 20.479 12.992L19.059 11.574C20.39 10.05 20.32 7.65998 18.827 6.16998C17.324 4.67098 14.907 4.60698 13.337 6.01698L12.002 7.21498L10.666 6.01798C9.09103 4.60598 6.67503 4.66798 5.17203 6.17198C3.68203 7.66198 3.60703 10.047 4.98003 11.623L13.412 20.069L12 21.485L3.52003 12.993C1.41603 10.637 1.49503 7.01898 3.75603 4.75698C6.02103 2.49298 9.64403 2.41698 12 4.52898C14.349 2.41998 17.979 2.48998 20.242 4.75698H20.243Z" class="fill-secondary-text"></path>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_988_3276">
                                                            <rect width="24" height="24" fill="black"></rect>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                            <div x-cloak x-show="likeStatus == 'liked'" @click="like('unlike')" class="p-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 32 32" fill="none">
                                                    <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="15.908" x2="15.908" y1="3.199" y2="28.854">
                                                        <stop offset="0" stop-color="#fd556a"/>
                                                        <stop offset="1" stop-color="#aa172a"/>
                                                    </linearGradient>
                                                    <linearGradient id="b" gradientUnits="userSpaceOnUse" x1="16.443" x2="16.443" y1="4.828" y2="26.958">
                                                        <stop offset="0" stop-color="#ffdc5d"/>
                                                        <stop offset="1" stop-color="#ffcc14"/>
                                                    </linearGradient>
                                                    <path d="M30.216 11.094a7.894 7.894 0 0 0-7.894-7.895 7.88 7.88 0 0 0-6.414 3.303A7.88 7.88 0 0 0 9.494 3.2 7.894 7.894 0 0 0 1.6 11.094c0 .617.078 1.216.213 1.792 1.096 6.81 8.668 13.996 14.095 15.968 5.426-1.972 13-9.157 14.094-15.967a7.796 7.796 0 0 0 .214-1.793z" fill="url(#a)"/>
                                                    <path d="m28.986 20.743-3.06-1.132-1.132-3.06a.8.8 0 0 0-1.501 0L22.16 19.61l-3.06 1.133a.8.8 0 0 0 0 1.5l3.06 1.133 1.133 3.06a.8.8 0 0 0 1.5 0l1.133-3.06 3.06-1.133a.8.8 0 0 0 0-1.5zm-18.4-12.8-1.892-.7-.7-1.892a.8.8 0 0 0-1.501 0l-.701 1.892-1.891.7a.8.8 0 0 0 0 1.5l1.892.7.7 1.892a.8.8 0 0 0 1.5 0l.7-1.892 1.893-.7a.8.8 0 0 0 0-1.5z" fill="url(#b)"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        
            <section class="bg-primary-bg px-16 py-8 mt-8 md:rounded-xl">
        
                <h2 class="text-medium mb-6">Read next</h2>
                
                <ul class="space-y-6">
                    {% for similar_post in similar_posts %}
                        <li>
                            <a href="{{ similar_post.get_absolute_url }}">
                                <div class="grid grid-cols-[max-content_1fr] gap-4">
                                    <div class="w-16 h-16 bg-white rounded-full"></div>
                                    <div>
                                        <h3 class="text-base-1">{{ similar_post.title }}</h3>
                                        <p>{{post.author.username}} - {{post.created|date:'M'}}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </main>
{% endblock %}