@import "tailwindcss";

@config "../tailwind.config.js";

@theme {
  --text-xsmall: 0.75rem;
  --text-xsmall--line-height: 1.375rem;

  --text-small: 0.875rem;
  --text-small--line-height: 1rem;

  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  
  --text-base-1: 1.25rem;
  --text-base-1--line-height: 1.5625rem;

  --text-medium: 1.5rem;
  --text-medium--line-height: 2.125rem;

  --text-medium-1: 2rem;
  --text-medium-1--line-height: 2.5rem;

  --text-large: 3rem;
  --text-large--line-height: 3.625rem;

  --color-primary-bg: #484366;
  --color-secondary-bg: var(--color-gray-800);
  --color-tertiary-bg: var(--color-gray-700);

  --color-primary-text: var(--color-gray-300);
  --color-secondary-text: var(--color-gray-400);
  --color-tertiary-text: var(--color-gray-500);

  --left-side-w: 15rem;

  --btn-border-radius: 0.375rem;
  --btn-icon-box: 2.5rem;
}

@layer components {

  .input-text {
    display: flex;

    .input-text__icon {
      background-color: var(--color-secondary-bg);
      padding: calc(var(--spacing) * 2);
      border-radius: 0.5rem 0 0 0.5rem;
      border: 0.1rem solid var(--color-secondary-bg);
      cursor: pointer;

      &:hover {
        background-color: var(--color-tertiary-bg);
        border-color: var(--color-secondary-bg);
      }

      border-right: unset;
    }

    input {
      width: 100%;
      padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
      border: 0.1rem var(--color-secondary-bg) solid;

      &::placeholder {
        font-size: var(--text-base-1);
        text-transform: capitalize;
      }

      .input-text__icon + & {
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
  }

  .btn {
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: var(--btn-border-radius);
    border: 0.1rem solid;

    &.btn--tertiary {
      border-color: transparent;

      &:hover {
        background-color: var(--color-tertiary-bg);
      }
    }

    &.btn--blue {
      background-color: var(--color-blue-600);
      border-color: var(--color-tertiary-bg);
      
      &:hover {
        background-color: var(--color-blue-400);
      }
    }
  }

  .icon-btn {
    width: var(--btn-icon-box);
    height: var(--btn-icon-box);
    color: black;
    border-radius: var(--btn-border-radius);
    cursor: pointer;

    &:hover {
      background-color: var(--color-tertiary-bg);
    }
  }

  .link-btn {
    padding: 0.2rem;
    border-radius: var(--radius-md);

    &:hover {
      background-color: --alpha(var(--color-primary-bg) / 40%);
    }
  }
}